ipykernel
python-decouple
arxiv
beautifulsoup4
icecream
sentence_transformers
streamlit
langchain
langchain_community
langchain_text_splitters
langchain_groq
langchain_core
langchain_openai
langchain_ollama
langchain_huggingface
langchain_chroma
langserve
faiss-cpu
fastapi
sse_starlette
uvicorn